<h1 class="title mb-4">Login</h1>

<form method="post" action="/login">
	<div class="field">
		<label class="label">Username</label>
		<div class="control">
			<input class="input" type="text" name="username" id="username" class="block" required><br>
		</div>
	</div>
	<div class="field">
		<label class="label">Password</label>
		<div class="control">
			<input class="input" type="password" name="password" required><br>
		</div>
	</div>

	<div class="field mt-2">
		<div class="control">
			<button class="button is-link" type="submit">Login</button>
		</div>
	</div>
</form>

<p class="has-text-danger">{{.Error}}</p>
