<!DOCTYPE html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link rel="icon" type="image/x-icon" href="/static/icon.svg" id="favicon-light">
  	<link rel="icon" type="image/x-icon" href="/static/icon-inverted.svg" id="favicon-dark">
		<title>{{with .Title}}{{.}} | Ioaw{{else}}Ideas on a walk{{end}}</title>
		{{assets_js "/dist/bundle.js"}}
	</head>
	<body>
		<div class="is-flex is-flex-direction-column" style="min-height:100vh">
			{{template "layout/nav.html" .}}
			<main class="is-flex-grow-1 columns">
				<div class="column"></div>
				<div class="column is-half">
					{{.LayoutContent}}
				</div>
				<div class="column"></div>
			</main>
			{{template "layout/footer.html" .}}
		</div>
	</body>
</html>
