<!DOCTYPE html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Ideas on a walk</title>
		{{assets_js "/static/bundle.js"}}
	</head>
	<body>
		<div class="is-flex is-flex-direction-column" style="min-height:100vh">
			{{template "layout/nav.html" .}}
			<main class="is-flex-grow-1 columns">
				<div class="column"></div>
				<div class="column is-half">
					{{.LayoutContent}}
				</div>
				<div class="column"></div>
			</main>
			{{template "layout/footer.html" .}}
		</div>
	</body>
</html>
