<header>
	<nav class="navbar">
		<div class="navbar-brand">
			<a class="navbar-item" href="{{urlfor "DashboardController.Index"}}">
				Ioaw
			</a>
		</div>

		<div class="navbar-menu">
			<div class="navbar-start">
				<a class="navbar-item" href="{{urlfor "ArticleController.List"}}">
					Articles
				</a>
			</div>

			<div class="navbar-end">
				{{if .Authed}}
				<a href="{{urlfor "UserController.Logout"}}" class="navbar-item">
					Logout
				</a>
				{{else}}
				<a href="{{urlfor "UserController.Login"}}" class="navbar-item">
					Login
				</a>
				{{end}}
			</div>
		</div>
	</nav>
</header>
