<header>
	<nav class="navbar" role="navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="{{urlfor "DashboardController.Index"}}">
				Ioaw
			</a>

			<a role="button" class="navbar-burger has-text-inherit" data-target="navbar">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div class="navbar-menu" id="navbar">
			<div class="navbar-start">
				<a class="navbar-item" href="{{urlfor "ArticleController.List"}}">
					Articles
				</a>
			</div>

			<div class="navbar-end">
				{{if .Authed}}
				<a href="{{urlfor "UserController.Logout"}}" class="navbar-item">
					Logout
				</a>
				{{else}}
				<a href="{{urlfor "UserController.Login"}}" class="navbar-item">
					Login
				</a>
				{{end}}
			</div>
		</div>
	</nav>
</header>
